* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.index.html, .flowers.html, .product-detail.html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif; 
}

.logo {
    text-align: center;
}

.logo img {
    height: auto;
    width: 75vw;
}

.flowers {
    margin-bottom: 20px;
}

.image-container, .image-container-featured {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 5px; */
}

.image-item {
    /* display: inline-block;
    flex-basis: calc(20% - 20px); */
    /* margin: 10px; */
    text-align: center;
}

.image-item img {
    /* max-width: 100%;
    height: auto; */
    width: 200px;
    height: 220px;
    object-fit: cover;
    margin: 5px;
}

.image-item p {
    margin-top: 5px;
}

.flowers h1, .flowers h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}