* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.index.html, .flowers.html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif; 
}

.logo {
    text-align: center;
}

.logo img {
    height: auto;
    width: 75vw;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; */
}

.image-item {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.image-item p {
    margin-top: 5px;
}

